

body {
    text-align: center;
    font-family: "Montserrat";
    margin: 0px;
}

.about {
    background-color: yellow;
    padding: 0px;
}

.projects {
    background-color: yellow;
    padding: 10px;
}
